body{
background-color:#D7BDE2 ;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EAF2F8;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  color: #154360;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu ul li a:hover {
  background-color: #111;
}








.styled-table {
    border-collapse: collapse;
    margin: 10px 0;
    
    font-size: 0.9em;
    font-family: sans-serif;
    mix-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
      font-weight: bold;
    color: #009879;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.delete {
  
  font-size:20px;
  color:red;
  margin-left: 20px;

}

.text{
  color:#00ccff;
}
.link{
  display: flex;
  justify-content: space-between;
}